.radicalmultifield-import{
    position: relative;
    padding-top: 90px;
}

.radicalmultifield-import .quantummanager {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}